/* Font CDN */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
/* Bootstrap Icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}